* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("/images/background_game.jpg") no-repeat center center/cover;
    height: 100vh;
}

.header {
    text-align: center;
    padding: 50px;
}

#new_game_btn {
    padding: 0.5rem;
    border-radius: 6px;
    background-color: aqua;
}

#contain {
    display: flex;
    gap: 3rem;
    flex-direction: column-reverse;
    height: 70vh;
}

#detailes {
    display: flex;
    gap: 2rem;
}

#screen_game {
    height: 80%;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 2fr);
}

.card {
  background: url("/images/general.jpg") no-repeat center center/cover;
  transition: transform 1s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.ice1 {
  background: url("/images/1.jpg") no-repeat center center/cover;
  transition: transform 1s;
  transform-style: preserve-3d;
}


.ice2 {

  background: url("/images/2.jpg") no-repeat center center/cover;
  transition: transform 1s;
  transform-style: preserve-3d;

}

.ice3 {
  background: url("/images/3.jpg") no-repeat center center/cover;
  transition: transform 1s;
  transform-style: preserve-3d;

}

.ice4 {

  background: url("/images/4.jpg") no-repeat center center/cover;
  transition: transform 1s;
  transform-style: preserve-3d;

}

.ice5 {

  background: url("/images/5.jpg") no-repeat center center/cover;
  transition: transform 1s;
  transform-style: preserve-3d;

}

.ice6 {

  background: url("/images/6.jpg") no-repeat center center/cover;
  transition: transform 1s;
  transform-style: preserve-3d;
}

